doctype html
html(lang="en")
head
  title CSS Impact Report
  link(rel="stylesheet" href="assets/report.css")
  link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,300,500' rel='stylesheet' type='text/css')

body
  div#body
  div.crop#fakecrop
  script(src="pageDiffDataMock.js")
  script(src="report.js")
