/* Base CSS for test */

.position-test {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  z-index: 0; /* So that it does not change when position: fixed; */
}

.position-test:before {
  content: 'before!';
}